* text=auto eol=lf
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
extras/win/*.exe filter=lfs diff=lfs merge=lfs -text
extras/win/*.dll filter=lfs diff=lfs merge=lfs -text
